
<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-fluid">
        <div class = "col-6">
                <a routerLink="/my-task-tracker" class="nav-link text-white" routerLinkActive="active">
                    My Task Tracker
                </a>
        </div>

    <div class = "col-6 d-flex justify-content-end ">
            <button><a routerLink="/new-task" routerLinkActive="active" class="nav-link text-dark">
                New Task
            </a></button>
    </div>
</div>
</nav>
