<div class = "container">
<h2 class = "mb-4">Shopping Cart</h2>
<div class = "card p-2">
    <div class = "d-flex row">
        <div class = "col-6 font-weight-bold">You have {{cartCount}} items in your cart</div>
        <div class = "col-6 d-flex justify-content-end font-weight-bold pr-3">
            <button type = "button" class = "btn btn-secondary" (click) = "reset()">Clear Shopping Cart</button>
        </div>
    </div>
<table class="table">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody *ngFor = "let item of itemsArr">
            <tr *ngIf = "item.quantity">
            <td><img src = "assets/{{item.imageUrl}}" class = "img-responsive rounded-circle" height="36px"></td>
            <td>{{item.title}}</td>
            <td> <span class = "cart">
                    <button type = "button" class = "btn btn-secondary" (click) = "decrementItem(item.id)">-</button>
                    <p style="width : 30%; text-align : center; padding-top : 3%"> {{item.quantity}} in cart </p>
                    <button type = "button" class = "btn btn-secondary " (click) = "incrementItem(item.id)">+</button>
                    </span></td>
            <td>${{item.price * item.quantity}}</td>     
            </tr>
       
        </tbody>

        </table>
        <button type = "button"  class = "btn btn-primary col-2" (click) = "goToCheckOut()" >Check Out</button>
</div>

</div>
