<div  id="newTask" class="container jumbotron taskDetail ">
        <span>
            <label class = "font-weight-bold">Task Name:</label>
            <p >{{tempTask.taskName}}</p>
        </span>
        <span>
            <label class = "font-weight-bold">Task Description:</label>
            <p>{{tempTask.taskDescription}}</p>
        </span>
        <span>
    
    
            <label class = "font-weight-bold">Task Priority:</label>
            <p>{{tempTask.taskPriority}}</p>
        </span>
        <span>
    
    
            <label class = "font-weight-bold">Task status:</label>
            <p>{{tempTask.status}}</p>
        </span>
        <span>
            <label class = "font-weight-bold">Task Creation Date:</label>
            <p>{{cd}}</p>
        </span>
        <span>
            <label class = "font-weight-bold">Task Completion Date:</label>
            <p>{{compD}}</p>
        </span>
        <button class="btn btn-danger" type="submit" (click)="deleteTask()">Delete</button>
    </div>
    
   