<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>EADAssignment4</display-name>
	<filter>
		<filter-name>ValidationFilter</filter-name>
		<filter-class>ValidationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ValidationFilter</filter-name>
		<url-pattern>/LoginEmployeeServlet/*</url-pattern>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<servlet>
		<servlet-name>RegisterEmployeeServlet</servlet-name>
		<servlet-class>RegisterEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterEmployeeServlet</servlet-name>
		<url-pattern>/RegisterEmployeeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginEmployeeServlet</servlet-name>
		<servlet-class>LoginEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginEmployeeServlet</servlet-name>
		<url-pattern>/LoginEmployeeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VehicleServlet</servlet-name>
		<servlet-class>VehicleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VehicleServlet</servlet-name>
		<url-pattern>/VehicleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PassServlet</servlet-name>
		<servlet-class>PassServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PassServlet</servlet-name>
		<url-pattern>/PassServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditEmployeeServlet</servlet-name>
		<servlet-class>EditEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditEmployeeServlet</servlet-name>
		<url-pattern>/EditEmployeeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateEmployeeServlet</servlet-name>
		<servlet-class>UpdateEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateEmployeeServlet</servlet-name>
		<url-pattern>/UpdateEmployeeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FriendServlet</servlet-name>
		<servlet-class>FriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FriendServlet</servlet-name>
		<url-pattern>/FriendServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FriendProfileServlet</servlet-name>
		<servlet-class>FriendProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FriendProfileServlet</servlet-name>
		<url-pattern>/FriendProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>LogOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/LogOutServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>RegistrationPage.html</welcome-file>
	</welcome-file-list>
</web-app>