<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EADAssignment3</display-name>
  <servlet>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowStudentServlet</servlet-name>
    <servlet-class>ShowStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentServlet</servlet-name>
    <url-pattern>/ShowStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchStudentServlet</servlet-name>
    <servlet-class>SearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentServlet</servlet-name>
    <url-pattern>/SearchStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateDatabase</servlet-name>
    <servlet-class>UpdateDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDatabase</servlet-name>
    <url-pattern>/UpdateDatabase</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>